.title {
	width: 100%;
	text-align: center;
}
.signin_panel {
	width: 350px;
	max-width: 35vw;
	min-width: 85px;
	height: 300px;
	max-height: 35vh;
	min-height: 85px;
	border-radius: 25px;
	background-color: lightgrey;
	padding: 10px;
}

.margin_item {
	margin: 5px;
}
