.search_bar {
  width: 100%;
  top: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  height: 75px;
  align-content: center;
  justify-content: center;
}

.textinput {
  flex-grow: 1;
  flex-basis: 0;
  font-size: 1em;
  max-width: 90%;
  height: 40px;
}
