.signup_panel {
	width: 1000px;
	max-width: 90vw;
	min-width: 100px;
	height: 750px;
	max-height: 90vh;
	min-height: 100px;
	border-radius: 25px;
	background-color: darkgray;
	display: flex;
	place-items: center;
	justify-content: center;
	flex-wrap: nowrap;
	flex-direction: column;
	padding: 10px;

	.input_container {
		flex: 1;
		width: 100%;
		display: flex;
		place-items: start;
		justify-content: center;
		.input {
			width: 90%;
		}
	}
}
